html,body{
	height:100%;
	margin:0;
	padding:0;
}

ul{
    list-style:none;
    padding:0;
    margin:0;
}

#Grid {
    height: 100%;
    background-position: 0 0;
    background-repeat:no-repeat;
    background-size: cover;
}

#tool{
    height:2.5em;
    background-color:#000;
}

#level {
    display: inline-block;
    height: 1.5em;
    width: 5em;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin: .5em 0 0 .5em;
}
#time{
	display: inline-block;
    height: 1.5em;
    width: 5em;
	float:right;
    margin: .5em .5em 0 0;
	color:#70eeff;
	text-align:center;
	line-height:1.5em;
	font-weight:bold;
}


.goods{
    position:absolute;
    top:2.5em;
    bottom:0em;
    width:100%;
}

.goods-item{
	height:2.5em;
	width:2.5em;
	position:absolute;
	background-size:contain;
	background-repeat:no-repeat;
	z-index:999;
}


.box{
    position:absolute;
    bottom:0;
    width:100%;
    background-color:#000;
    text-align:center;
}

.box ul{
    display:flex;
}

.box li {
    flex: 1;
    float: left;
    text-align: center;
}

.box-item {
    display: inline-block;
    height: 3.5em;
    width: 3.5em;
    margin:1em 0;
    border-radius: .8em;
    box-shadow: 0 0 6px 2px #fd8484;
    background-size: auto 50%;
    background-repeat:no-repeat;
	background-position:center;
}

.mask{
	position:fixed;
	z-index:1000;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.8);
}

.confirm-win{
	position:relative;
	top:30%;
	text-align:center;
}

.confirm-close{
	position:absolute;
	width:12%;
	top:0;
	right:6%;
}
.content{
	width: 65%;
	height: 78%;
	position: absolute;
	top: 4%;
	bottom: 0;
	left: 0;
	right: 2%;
	margin: auto;
	text-align:left;
	font-family:wawa;
	color:#279ae4;
}

.btn{
	width:48%;
	height:100%;
	display:inline-block;
}
.btn-shared{
	background:center 0 url(../img/分享.png) no-repeat;
	background-size:contain;
}
.btn-ranking{
	background:center url(../img/排行.png) no-repeat;
	background-size:contain;
}
